<% extend("./../main/main") %>
<style>
   .tab-group-class a{
      background-color: #78bbe6
   }
</style>
<script type="text/javascript" src="js/pvhau/personal.js"></script>
<script type="text/javascript" src="js/pvhau/personalGeneral.js"></script>
<script type="text/javascript" src="js/pvhau/groupTeacher.js"></script>

<link href="css/personal.css" rel="stylesheet" type="text/css" />
<main>
   <div id="profile-upper">
      <div id="profile-banner-image">
         <img id="cover-img" src="images/<%= groupAvatar %>" alt="Banner image">
      </div>
      <div id="profile-d">
         <!-- <div id="profile-pic">
            <img src="images/<%= user.avatar %>">    
         </div> -->
         <div id="u-name"><%= user.group %></div>
         <div id="edit-profile"><input id="choose-image" style="display: none;" type="file" id="avatar" name="avatar" value=""><i class="material-icons">camera_alt</i></div>
      </div>
      <div id="black-grd"></div>
   </div>
   <div id="main-content">
   <div class="tb">
      <div class="td" id="l-col">
         <div class="l-cnt">
            <div class="cnt-label">
               <i class="l-i" id="l-i-i"></i>
               <span>Intro</span>
               <div class="lb-action"><i class="material-icons">edit</i></div>
            </div>
            <div id="i-box">
               <div id="intro-line">Web developer - UI</div>
               <!-- <div id="u-occ">Developing awesome UIs at <a href="#">Google LLC</a> Bengaluru and inspiring other companies to do so :)</div> -->
               <div id="u-loc"><i class="material-icons">location_on</i><a href="#">Hà Nội</a>, <a href="#">Việt Nam</a></div>
            </div>
         </div>
         <div class="l-cnt l-mrg">
            <div class="cnt-label">
               <i class="l-i" id="l-i-p"></i>
               <span>Photos</span>
               <div class="dropdown dropleft" style="position:absolute; right: 20px; cursor: pointer;">
                  <h5 data-toggle="dropdown">...
                  <span class="caret"></span></h5>
                  <ul class="dropdown-menu">
                    <li><a href="#">Xóa bình luận</a></li>
                  </ul>
               </div>            
            </div>
            <div id="photos">
               <div class="tb">
                  <div class="tr">
                     <div class="td"></div>
                     <div class="td"></div>
                     <div class="td"></div>
                  </div>
                  <div class="tr">
                     <div class="td"></div>
                     <div class="td"></div>
                     <div class="td"></div>
                  </div>
                  <div class="tr">
                     <div class="td"></div>
                     <div class="td"></div>
                     <div class="td"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="l-cnt l-mrg" >
            <div class="cnt-label">
               <i class="l-i" id="l-i-k"></i>
               <span>Did You Know<i id="k-nm">1</i></span>
            </div>
            <div>
               <div class="q-ad-c">
                  <a href="#" class="q-ad">
                  <img src="https://imagizer.imageshack.com/img923/1849/4TnLy1.png">
                  <span>My favorite superhero is...</span>
                  </a>
               </div>
               <div class="q-ad-c">
                  <a href="#" class="q-ad" id="add_q">
                  <i class="material-icons">add</i>
                  <span>Add Answer</span>
                  </a>
               </div>
            </div>
         </div>
         <div id="t-box">
            <a href="#">Privacy</a> <a href="#">Terms</a> <a href="#">Advertising</a> <a href="#">Ad Choices</a> <a href="#">Cookies</a> <span id="t-more">More<i class="material-icons">arrow_drop_down</i></span>
            <!-- <div id="cpy-nt">Facebook &copy; <span id="curr-year"></span></div> -->
         </div>
      </div>
      <div class="td" id="m-col">
         <div class="m-mrg" id="p-tabs">
            <div class="tb">
               <div class="td">
                  <div class="tb" id="p-tabs-m">
                     <div class="td active"><i class="material-icons">av_timer</i><span>TIMELINE</span></div>
                     <div class="td"><a href="/member" class="a-none"><i class="material-icons">people</i><span>Thành viên</span></a></div>
                     <div class="td"><i class="material-icons">photo</i><span>PHOTOS</span></div>
                     <div class="td"><i class="material-icons">explore</i><span>ABOUT</span></div>
                     <div class="td"><i class="material-icons">archive</i><span>ARCHIVE</span></div>
                  </div>
               </div>
               <div class="td" id="p-tab-m"><i class="material-icons">keyboard_arrow_down</i></div>
            </div>
         </div>
         <div class="m-mrg" id="composer">
            <div id="c-tabs-cvr" style="margin-bottom: 10px;">
               <div class="tb" id="c-tabs">
                  <div class="td active"><i class="material-icons">subject</i><span>Make Post</span></div>
                  <div class="td"><label for="upload" style="margin: 0; cursor: pointer;"><i class="material-icons">camera_enhance</i><span>Photo/Video</span><input type="file" id="upload" style="display:none" multiple="multiple"></label></div>
                  <div class="td"><i class="material-icons">videocam</i><span>Live Video</span></div>
                  <div class="td"><i class="material-icons">event</i><span>Life Event</span></div>
               </div>
            </div>
            <form action="/group/post-post" method="post">
               <div id="img-arr">
                  <div class="transbox img-grid">
                     <textarea style="display: none;" name="image1" id="image1" cols="30" rows="10"></textarea>
                     <img src="" id="img1"/>
                  </div>
                  <div class="transbox img-grid">
                     <textarea style="display: none;" name="image2" id="image2" cols="30" rows="10"></textarea>
                     <img src="" id="img2"/>
                  </div>
                  <div class="transbox img-grid">
                     <textarea style="display: none;" name="image3" id="image3" cols="30" rows="10"></textarea>
                     <img src="" id="img3"/>
                  </div>
                  <div class="transbox img-grid">
                     <textarea style="display: none;" name="image4" id="image4" cols="30" rows="10"></textarea>
                     <img src="" id="img4"/>
                  </div>
               </div>
               <div id="c-c-main">
                  <div class="tb" style="margin-top: 10px;">
                     <div class="td" id="p-c-i"><img src="images/<%= user.avatar %>" alt="Profile pic"></div>
                     <div class="td" id="c-inp">
                        <textarea name="description" class="textarea-make-post" type="text"></textarea>
                     </div>
                  </div>
                  <div id="insert_emoji">
                     <button class="btn btn-primary">Đăng</button>
                     <!-- <i class="material-icons">insert_emoticon</i> -->
                  </div>
               </div>
            </form>
         </div>
         <div>
            <% if(postArr != undefined) { %>
            <% postArr.forEach((item) => { %>
               <p style="display: none;"><%= item.id %></p>
               <div>
                  <a class="a-notif-post" href="#<%= item.id %>" id="<%= item.id %>" name="<%= item.id %>"></a>
                  <div class="post">
                     <div class="tb">
                        <a href="/<%= item.email %>" class="td p-p-pic"><img src="images/<%= user.avatar %>" alt="images/<%= user.avatar %>"></a>
                        <div class="td p-r-hdr">
                           <div class="p-u-info">
                              <a href="/<%= item.email %>"><%= item.username %></a> 
                           </div>
                           <div class="p-dt">
                              <i class="material-icons">calendar_today</i>
                              <span>
                              <% if (Math.ceil((Date.now() - item.createdAt)/3600000) > 24) {%>
                              <%- Math.ceil((Date.now() - item.createdAt)/3600000/24) %> days ago 
                              <% } else if (Math.ceil((Date.now() - item.createdAt)/3600000) == 1){ %>
                              Vừa xong
                              <% } else { %>
                              <%- Math.ceil((Date.now() - item.createdAt)/3600000) %> h ago %>
                              <% } %>
                              </span>
                           </div>
                        </div>
                        <div class="td p-opt">
                           <div class="dropdown dropleft" style="position:absolute; right: 20px; cursor: pointer;">
                              <h5 data-toggle="dropdown" style="font-weight: bold!important;">...
                              <span class="caret"></span></h5>
                              <ul class="dropdown-menu">
                                <li class="edit-post" style="font-weight: bold;">Xóa bài viết</li>
                              </ul>
                            </div>
                        </div>
                     </div>
                     <div style="margin-top: 20px;">
                        <%= item.description %></p>
                        <div class="tb" style="margin-bottom: 20px;">
                           <div class="tr">
                              <div class="td">
                                 <% if(item.image1 != '') { %>
                                 <img src="images/<%= item.image1 %>" class="display-img"/>
                                 <% } %>
                              </div>
                              <div class="td">
                                 <% if(item.image2 != '') { %>
                                 <img src="images/<%= item.image2 %>" class="display-img"/>
                                 <% } %>
                              </div>
                           </div>
                           <div class="tr">
                              <div class="td">
                                 <% if(item.image3 != '') { %>
                                 <img src="images/<%= item.image3 %>" class="display-img"/>
                                 <% } %>
                              </div>
                              <div class="td">
                                 <% if(item.image4 != '') { %>
                                 <img src="images/<%= item.image4 %>" class="display-img"/>
                                 <% } %>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="p-acts">
                              <div class="p-act like">
                                 <i class="fas fa-thumbs-up"></i><span><%= item.likes  %></span>
                                 <p style="display: none;"><%= item._id %></p>
                                 <h1 style="display: none;"><%= item.userId %></h1>
                              </div>
                              <div class="p-act comment"><i class="material-icons">comment</i><span><%= item.comments  %></span></div>
                              <!-- <div class="p-act share"><i class="material-icons">reply</i></div> -->
                           </div>
                        </div>
                     </div>
                  </div>
                  <hr class="solid">
                  <p class="all-comment">Xem tất cả bình luận</p>
                  <div class="comment-wrapper">
                     <ul class="media-list">
                        <% if(item.commentList != undefined) { %>
                        <% item.commentList.forEach((comment, index) => { %>
                        <% let lengthCommentList = item.commentList.length %>
                        <li class="media" style="position: relative;">
                           <!-- <div class="dropdown dropleft" style="position:absolute; right: 20px; cursor: pointer;">
                              <h5 data-toggle="dropdown">...
                              <span class="caret"></span></h5>
                              <ul class="dropdown-menu">
                                <li class="edit-comment" style="font-weight: bold;">Xóa bình luận</li>
                              </ul>
                            </div> -->
                           <p class="comment-index comment-index-<%=index%>"><%=lengthCommentList-index%></p>
                           <a href="/<%= comment.email.split('@')[0] %>" class="pull-left">
                           <img class="rounded-circle" src="images/<%= comment.avatar %>" width="40">
                           </a>
                           <div class="media-body">
                              <span class="text-muted pull-right">
                              <small class="text-muted">
                                 <% if (Math.ceil((Date.now() - comment.createdAt)/3600000) > 24) {%>
                                 <%- Math.ceil((Date.now() - comment.createdAt)/3600000/24) %> days ago 
                                 <% } else if (Math.ceil((Date.now() - comment.createdAt)/3600000) == 1){ %>
                                 Vừa xong
                                 <% } else { %>
                                 <%- Math.ceil((Date.now() - comment.createdAt)/3600000) %> h ago %>
                                 <% } %>
                              </small>
                              </span>
                              <strong class="text-success"><%= comment.username %></strong>
                              <p>
                                 <%= comment.comment %>
                              </p>
                           </div>
                        </li>
                        <% }); %>
                        <% } %>
                     </ul>
                  </div>
                  <div class="bg-light p-2">
                     <div class="d-flex flex-row align-items-start">
                        <img class="rounded-circle" src="images/<%= user.avatar %>" width="40">
                        <textarea class="form-control ml-1 shadow-none textarea textarea-comment"></textarea>
                     </div>
                     <div class="text-right" style="margin-top: 10px;">
                        <p class="comment-id" style="display: none;"><%= item.id %></p>
                        <button class="btn btn-success post-comment">Đăng</button>
                        <button class="btn btn-danger cancel-comment">Hủy</button>
                     </div>
                  </div>
                  <hr>
               </div>
            <% }); %>
            <% } %>
         </div>
      </div>
   </div>
</main>