<% extend("./../main/main") %>
<script type="text/javascript" src="js/pvhau/edit_profile.js"></script>
<div class="hbg"><img src="images/header_images.jpg" width="923" height="291" alt="" /></div>
<div class="mainbar">
   <div class="article">
      <h2><span>Thông tin</span> cá nhân</h2>
      <div class="clr"></div>
      <div style="margin-bottom: 10px;">
			<% if(errors != "") { %>
				<% errors.forEach((item) => { %>
					<div class="alert alert-danger">
						<div class="container">
							<%- item %>
					   </div>
				   </div>
				<% }); %>
			<% } %>
			<% if(success != "") { %>
				<% success.forEach((item) => { %>
					<div class="alert alert-success">
						<div class="container">
							<%- item %>
						</div>
					</div>
				<% }); %>
			<% } %>
			
			
		</div>
      <form action="/user/update-avatar" enctype="multipart/form-data" method="POST">
         <div class="form-group">
            <img id="avatar-img" name="avatar-img" src="images/<%= user.avatar %>" width="200px" height="200px" alt="images/<%= user.avatar %>">
            <input type="file" id="avatar" name="avatar">
         </div>
         <div class="form-group">
            <label for="username">Họ và tên</label>
            <input id="username" name="username" class="form-control" value="<%= user.username %>"/>
         </div>
         <div class="form-group">
            <label for="birthday">Ngày sinh</label>
            <input type="date" id="birthday" name="birthday" class="form-control" value="<%= user.birthday %>"/>
         </div>
         <div class="form-group">
            <label for="email">Địa chỉ email</label>
            <input disabled id="email" name="email" class="form-control" value="<%= user.email %>"/>
         </div>
         <div class="form-group">
            <label for="website">Địa chỉ lớp</label>
            <input disabled id="website" name="website" class="form-control" value="<%= user.class %>"/>
         </div>
         <button id="submit" type="submit" class="btn btn-danger">Cập nhật</button>
         <a href="/change-password"><button type="button" style="float: right;" class="btn btn-success">Thay đổi mật khẩu</button></a>
      </form>
   </div>
</div>
<div class="sidebar">
   <div class="gadget">
      <h2 class="star"><span></span> Menu</h2>
      <div class="clr"></div>
      <ul class="sb_menu">
         <li class="tab-home"><a href="./">Trang chủ</a></li>
         <li class="tab-group-class"><a href="./group-class">Nhóm lớp</a></li>
         <li class="tab-chat"><a href="./chat">Nói chuyện</a></li>
         <li class="tab-notification"><a href="./notification">Thống báo</a></li>
         <li class="tab-profile"><a href="./personal">Trang cá nhân</a></li>
      </ul>
   </div>
   <div class="gadget">
      <h2 class="star"><span>Thông tin nổi bật</span></h2>
      <div class="clr"></div>
      <ul class="ex_menu">
         <li><a href="#">Tuyển sinh năm 2021</a></li>
         <li><a href="#">Điểm rèn luyện kỳ học 20201</a></li>
      </ul>
   </div>
</div>
<div class="clr"></div>